@import url(index.css);
@import url(formulario.css);

form {
  margin: 5% auto 10% auto;
}

body {
  background-image: url(../img/fotoFondoContacto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;  
}

textarea{
    background-color: #fbfbfb; 
    width: 530px; 
    height: 100px; 
    border-style: solid; 
    border-color: white; 
    border-radius: 4px;
    font-family: var(--texto-logo-cabecera);
  }